@model  Entities.Entities.SitioGeneral

@{
    ViewData["Title"] = "West OB Administrator Module --";
}

    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="https://i.postimg.cc/Qxvj8K4q/logo.png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="~/css/Admin.css" rel="stylesheet" type="text/css">
    </head>

    <div class="container" style="width:100%">
        <!-- logo y header -->
        <div id="menuu" class="col-sm-18" style="width:100%">
            <div class="titulo"  style="width:100%">
                 <p class="admin01"> Site Administrativo del Hotel West Ocean Beach Resort</p>
            </div>
        </div> 
    </div>

    <!-- Menú principal y publicidad -->
    <section id="inicio_01" class="container" style="margin-block: 1em; background-color: white">
        <div class="col-sm-10">
            <div id="sidebar-menu" class="col-sm-2" style="width:100%; overflow:auto;" >
                <div id="header001" >
                    <div class="dropdown">
                        <button class="mainmenubtn">Menú Principal</button>
                        <div class="dropdown-child">
                            <a href="#inicio_01">Home</a>
                            <a href="#Home_001">Modificar Páginas</a>
                            <a href="#listadoReservas1">Listado de Reservaciones</a>
                             <a href="#modificarHabitacion">Administrar Habitaciones</a>
                            <a href="#EstadoActualHabitaciones">Ver Estado del Hotel Hoy</a>
                            <a href="#inicio_01">Disponibilidad de Habitaciones</a>
                            <a href="#mantpublicidad">Publicidad</a>
                        </div>
                    </div>

                </div>  
            </div>
        </div>
    </section>

    <!-- Secciones (contenido) -->
    <div style="margin-left: auto !important;" class="col-sm-9">

        <!-- Sección Home (Inicio) -->
        <section id="inicio_01" class="container" style="margin-block: 1em; background-color: white">
            <div class="row">
                <div class="col-sm-12">
                    <p class="msjBienvenida">
                    <center> <a href="#inicio_01"; class="admin02" style="text-decoration: underline;color:black;">Home</a><br> </center>
                    <center> <a href="#acercade_01"; class="admin02" style="text-decoration: underline;color:black;">Sobre Nosotros</a><br> </center>
                    <center> <a href="#Facilidades_01" ; class="admin02" style="text-decoration: underline;color:black;">Facilidades</a><br> </center>
                    <center> <a href="#como_llegar_01"; class="admin02" style="text-decoration: underline;color:black;">Cómo Llegar</a><br> </center>
                </div>
            </div>
        </section>

        <!-- Sección Editar Home (Editar Home) -->

        <section id="Home_001" class="container" style="border-style: solid; margin-block: 1em; background-color: white">
            <div class="row">
                <div class="col-sm-12">
                        <p class="new2">Edición de la sección Home </p>
                        <textarea class="noteToAdd" id="homeedit" name="sitelink" rows="4" cols="70"> @ViewBag.home </textarea>
                </div>
                <table style="width:100%">
              <tr>
                <td>
                     <div class="col-sm-12">
                        <p>Imagen Actual:</p>
                             <img src=@ViewBag.ImgHome  style="width:100%" vspace="30" hspace="10" >
                         </div>
                         </td>
                <td>
                    <div class="col-sm-12">
                             <p>Cambiar Imagen de Home </p>
                             </div>
                <div class="form-group">
                    <div class="col-lg-6">
                            @using(Html.BeginForm (new {enctype = "multipart / form-data"})){
                                <input id="filee" type = "file" name = "file" />
                                <input type = "button" value = "Cargar" onclick = "uploadFile (); return false;" />
                            }
                        </div>
                 </div>
                </td>
              </tr>
                <tr>
                <td>
                        <div class="row" align="right">
                           <div class="form-group" align="right">
                                <div class="col-lg-12" align="right">
                                    <input class="btn btn-success" id="btnAceptHome" type="submit" value="Aceptar" onclick="updateHome()" style="background-color: #86b4ca;">
                                    <input class="btn btn-success" id="btnCancelHome" type="submit" value="Cancelar" onclick="document.getElementById('id03').style.display='block'" style="background-color: #86b4ca;">
                                </div>
                             </div>
                        </div>
                </td>
              </tr>
            </table>
          </div>
        </section>
                
        <!-- Sección Editar Facilidades (Editar Facilidades) -->
        <section id="Facilidades_01" class="container" style="border-style: solid; margin-block: 1em; background-color: white">
            <div class="row">
                <div class="col-sm-10">
                        <p class="new2"> Edición de la sección Facilidades </p>
                        <textarea class="noteToAdd" id="facilities" name="sitelink" rows="10" cols="70">@ViewBag.Facilidades </textarea>
                        <div class="form-group">
                        <div class="col-lg-6">
                            <input class="btn btn-success" id="btnAceptFacilities" type="submit" value="Aceptar" onclick="updateFacilities()" style="background-color: #86b4ca;">
                            <input class="btn btn-success" id="btnCancelFacilities" type="submit" value="Cancelar" onclick="document.getElementById('id02').style.display='block'" style="background-color: #86b4ca;">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sección Editar Cómo llegar -->
        <section id="como_llegar_01" class="container" style="border-style: solid; margin-block: 1em; background-color: white">
            <div class="row">
                <div class="col-sm-10">
                    <p class="new2"> Edición de la sección Cómo llegar </p>
                    <textarea class="noteToAdd" id="comollegarr" name="sitelink" rows="10" cols="70">@ViewBag.comollegar </textarea>
                    <div class="form-group">
                        <div class="col-lg-6">
                            <input class="btn btn-success" id="btnAceptFacilities" type="submit" value="Aceptar" onclick="updateComoLlegar()" style="background-color: #86b4ca;">
                            <input class="btn btn-success" id="btnCancelFacilities" type="submit" value="Cancelar" onclick="document.getElementById('id02').style.display='block'" style="background-color: #86b4ca;">
                        </div>
                    </div>
                </div>
                </div>
        </section>

        <!-- Sección Editar Acerca de  (Editar Acerca de ) -->
        <section id="acercade_01" class="container" style="border-style: solid; margin-block: 1em; background-color: white">
            <div class="row">
                <div class="col-sm-10">
                    <div id="acercaDe">
                        <p class="new2"> Edición de la sección Acerca de</p>
                        <textarea class="noteToAdd" id="aboutUs" name="sitelink" rows="10" cols="70">@ViewBag.CercaDe </textarea>
                        <br>
                        <input class="btn btn-success" id="btnAceptAboutUs" type="submit" value="Aceptar" onclick="updateAboutUs()" style="background-color:#86b4ca";>
                        <input class="btn btn-success" id="btnCancelAboutUs" type="submit" value="Cancelar" style="background-color:#86b4ca"; onclick="document.getElementById('id01').style.display='block'" >
                    </div>
                </div>
            </div>
        </section>


         <!-- Sección Editar Acerca de  (Editar Acerca de ) -->
        <section id="modificarHabitacion" class="container-fluid" style="border-style: solid; margin-block: 1em; background-color: white">
           
            <!--Modicar Habitaciones  -->
            <p class="new2"> Edición de los Tipos de Habitaciones</p>
            <label>Seleccione el Tipo de Habitación a Editar </label>
      
            <div class="row">
                <div class="col-sm-4 col-xs well">
                    <a href="#info1" class="inf">Estandar</a>
                </div>

                <div class="col-sm-4 col-xs well">
                    <a href="#info2" class="inf">Junior</a>
                </div>

                <div class="col-sm-4 col-xs well">
                    <a href="#info3" class="inf">Suite</a>
                    <br>
                    <br>
                </div>
            </div>


            <!-- contenido informacion adicional -->
            <div class="row">
                <div id="info1" class="col-xs-12 well oculto">

                <!-- Standar -->
                   
                <table style="width:100%">
                    <tr>
                        <th>
                            <div class="col-sm-10">
                                <label>  Habitación Estandar</label>
                            </div>
                        </th>

                        <th>
                            <label>Tarifa Diaria Actual:  <input type="text"  inputmode="numeric" id="tarifaESTANDAR" size="5" maxlength="10" value= @ViewBag.Habitacion_estandar_tarifa_diaria name="Tarifa_diaria"> </label>
                        </th>
                    </tr>
                </table>


                <div class="col-sm-10">
                    <textarea class="noteToAdd" id="descripcionESTANDAR" name="descripcionESTANDAR" rows="6" cols="70">@ViewBag.Habitacion_estandar_descripcion</textarea>
                </div>

                <table style="width:100%">
                    <tr>
                        <th>
                            <div class="col-sm-10">
                                <label>Imagen Actual:</label>
                                <img src=@ViewBag.Habitacion_estandar_ruta_imagen  style="width:100%" vspace="30" hspace="10" >
                            </div>
                        </th>

                        <th>
                            <div class="col-sm-10">
                                <label style="margin-left:1em">Subir Nueva Imagen:</label>
                                @using (Html.BeginForm(new { enctype = "multipart / form-data" }))
                                {
        
                                    <input id="fileEstandar" type="file" name="fileEstandar" />
                                    <input type="button" value="OK" onclick="cambiarImgHabitacionEstandar()" ; return false;" />
                                }
                            </div>
                        </th>
                    </tr>

                <tr>
                <th>
                </th>

                <th>
                    <div class="col-sm-10">
                        <input class="btn btn-success" id="btnAceptAboutUs" onclick="updateHabitacionEstandar()" type="submit" value="Aceptar" style="background-color:#86b4ca;">
                        <input class="btn btn-success" id="btnCancelAboutUs" type="submit" value="Cancelar" style="background-color:#86b4ca;">
                    </div>
                </th>
                </tr>

                </table>
                   
            </div>
            </div>

            <div id="info2" class="col-xs-12 well oculto">
            <!--junior -->
                   
            <table style="width:100%">
            <tr>
            <th>
            <div class="col-sm-10">
            <label>  Habitación Junior</label></div>
            </th>
            <th>
            <label>Tarifa Diaria Actual:  <input type="text" id="tarifaJUNIOR"  inputmode="numeric" size="5" maxlength="10"  name="Tarifa_diaria" value= @ViewBag.Habitacion_junior_tarifa_diaria> </label>
            
        </th>
            </tr>
            </table>
            <div class="col-sm-10">
            <textarea class="noteToAdd" id="descripcionJUNIOR" name="descripcionJUNIOR" rows="6" cols="70">@ViewBag.Habitacion_junior_descripcion</textarea>
            </div>
            <table style="width:100%">
            <tr>
            <th>
            <div class="col-sm-10">
            <label>Imagen Actual:</label>
            <img src=@ViewBag.Habitacion_junior_ruta_imagen  style="width:100%" vspace="30" hspace="10" >
            </div>
            </th>
            <th>
            <div class="col-sm-10">
            <label style="margin-left:1em">Subir Nueva Imagen:</label>
            @using (Html.BeginForm(new { enctype = "multipart / form-data" }))
            {
        
            <input id="fileJunior" type="file" name="fileJunior" />
            <input type="button" value="OK" onclick="cambiarImgHabitacionJunior()" ; return false;" />
            }
            </div>
            </th>
            </tr>
            <tr>
            <th>
            </th>

            <th>
            <div class="col-sm-10">
            <input class="btn btn-success" id="btnAceptAboutUs" onclick="updateHabitacionJunior()" type="submit" value="Aceptar" style="background-color:#86b4ca;">
            <input class="btn btn-success" id="btnCancelAboutUs" type="submit" value="Cancelar" style="background-color:#86b4ca;">
            </div>
            </th>
            </tr>

            </table>
                   
            </div>
        
                
            <div id="info3" class="col-xs-12 well oculto">
            <!--Suite -->
                
            <table style="width:100%">
            <tr>
            <th>
            <div class="col-sm-10">
            <label>  Habitación Suite</label></div>
            </th>
            <th>
            <label>Tarifa Diaria Actual:  <input type="text" id="tarifaSUITE"   inputmode="numeric" size="5" maxlength="10" value= @ViewBag.Habitacion_suite_tarifa_diaria name="Tarifa_diaria"> </label>
            </th>
            </tr>
            </table>
            <div class="col-sm-10">
            <textarea class="noteToAdd" id="descripcionSUITE" name="descripcionSUITE" rows="6" cols="70">@ViewBag.Habitacion_suite_descripcion</textarea>
            </div>
            <table style="width:100%">
            <tr>
            <th>
            <div class="col-sm-10">
            <label>Imagen Actual:</label>
            <img src=@ViewBag.Habitacion_suite_ruta_imagen  style="width:100%" vspace="30" hspace="10" >
            </div>
            </th>
            <th>
            <div class="col-sm-10">
            <label style="margin-left:1em">Subir Nueva Imagen:</label>
            @using (Html.BeginForm(new { enctype = "multipart / form-data" }))
            {
        
            <input id="fileSuite" type="file" name="fileSuite" />
            <input type="button" value="OK" onclick="cambiarImgHabitacionSuite()" ; return false;" />
            }
            </div>
            </th>
            </tr>
            <tr>
            <th>
            </th>

            <th>
            <div class="col-sm-10">
            <input class="btn btn-success" id="btnAceptAboutUs" onclick="updateHabitacionSuite()" type="submit" value="Aceptar" style="background-color:#86b4ca;">
            <input class="btn btn-success" id="btnCancelAboutUs" type="submit" value="Cancelar" style="background-color:#86b4ca;">
            </div>
            </th>
            </tr>

            </table>
            
            </div>
    </section>

    <section id="EstadoActualHabitaciones"  class="container-fluid" style="border-style: solid;margin-block: 1em; background-color: white;" >
        <div class="row">
            <div class="col-sm-10">
                <p class="new2"> Estado del Hotel Hoy</p>
                 <label for="start">Fecha Actual:</label>
               
                
                <input id="fecha" type="date" placeholder="dd/mm/yy" disabled >
                <br>
                <br>
                <div class="col-sm-11">
                    <table class="table table-bordered" id="estadoActual">
                        <thead>
                            <tr>
                            <th scope="col">Número Habitación</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Estado hoy</th>
                            </tr>
                        </thead>

                        <tbody>
                        </tbody>

                    </table>
                </div>

                <p>
                <input type="button" value="PDF" 
                    id="btPrint" onclick="createPDF()"/>
                </p>

            </div>
        </div>
    </section>


         <section id="inicio_01" class="container" style="border-style: solid; margin-block: 1em; background-color: white;" >

                    <p class="new2">Consultar Disponibilidad de Habitaciones </p>
                   
                    <br>
                      <div class="row">
                          <div class="col-sm-4 col-xs  col-xs-well">
                              <label for="start">Fecha de llegada:</label> <br>
                              <input type="date" id="myDateLlegada"  name="trip-start">
                          </div>
                          <div class="col-sm-4 col-xs-well">
                              <label for="start">Fecha de salida:</label> <br>
                              <input type="date" id="myDateSalida" name="trip-start" >
                          </div>
                          <div class="col-sm-4 col-xs-well">
                                <label for="start">Tipo de Habitaciòn:</label> <br>

                                    <select class="form-select" aria-label="Default select example" id="typeRoom">
                          
                                        <option selected disabled>Tipo de Habitacion</option>
                                          <option value="1">Estandar</option>
                                          <option value="2">Suite</option>
                                          <option value="3">Junior</option>
                                           <option value="3">Todas</option>
                                    </select>
                           </div>
                           <br>
                           <br>
                      </div>
                      <div class="row">
                          <div  class="col-sm-12">
                              <button type="button" class="btn btn-primary" style="background-color:#86b4ca; margin-left:35em;"  onclick="habitacionesPorFecha()">consultar</button>
                          </div>
                      </div>
                      <br>
                      <br>
                      <table id="mytable" class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Numero de habitacion</th>
                              <th scope="col">Tipo</th>
                              <th scope="col">Costo Estadia</th>
                     
                            </tr>
                          </thead>
                            <tbody id="tbodyid">
                   
                 
                            </tbody>
                        </table>
              </section>
            


        <!-- Sección Ofertas-->
        <section id="Ofertas" class="container" style="border-style: solid; margin-block: 1em; background-color: white">
           
       <p class="new2">Mantenimiento de las Ofertas</p>
         <br>
      <div class="row">
          <div class="col-sm-4 col-xs  col-xs-well">
                    <label for="start">Ingrese el ID de la oferta que desea actualizar:</label>
                    <input id="oferta" type="text"  style="width:50px;height:20px;text-align:right;padding-right:10px;" name="id_oferta"/>
            </div>

              <br>

      </div>
        <br>
         <div class="row">
                <div class="col-sm-4 col-xs  col-xs-well">

                    <label for="start">Fecha de Inicio:</label>

                    <input type="date" min="2022-01-01"  id="myDateLlegada2" name="trip-start">
                           </div>
                           <div class="col-sm-4 col-xs-well">

                     <label for="start">Fecha de Fin:</label>
                    <input type="date" id="myDateSalida2" min="2022-01-01" name="trip-start" >


                </div>
        </div>
        <br>
   
       <div class="row">

                <div class="col-sm-4 col-xs-well">
                <label for="start" >Tipo de habitaciòn:</label>

                    <select class="form-select" aria-label="Default select example" id="typeRoom2">
                          
                        <option selected disabled> Tipo de Habitacion:</option>
                          <option value="1">Estandar</option>
                          <option value="2">Suite</option>
                          <option value="3">Junior</option>
                    </select>

                </div>
                  <div class="col-sm-4 col-xs  col-xs-well">
                    <label for="start">Descuento:</label> <br>
                    <input id="descount" type="text"  style="width:100px;height:20px;text-align:right;padding-right:10px;" name="descuento"/>
                   </div>

                    <div class="col-sm-4 col-xs  col-xs-well">
                        <label for="start">Cantidad de días:</label> <br>
                        <input id="cantDias" type="text"  style="width:100px;height:20px;text-align:right;padding-right:10px;" name="cantDias"/>
                   </div>



      </div>
      <br>
      <br>
    <div class="row">

           <div  class="col-sm-12">
               
           <button type="button" class="btn btn-primary" style="background-color:#86b4ca;"  onclick="OfertSpecialTipoHabitacion()">Consultar</button>
           <button type="button" class="btn btn-primary" style="background-color:#86b4ca;"  onclick="createOfertSpecial()">Insertar</button>
          <button type="button" class="btn btn-primary" style="background-color:#86b4ca;"  onclick="deleteOfertSpecial()">Eliminar</button>
          <button type="button" class="btn btn-primary" style="background-color:#86b4ca;"  onclick="updateOfertSpecial()">Actualizar</button>


      </div>

    </div>

    
    

      <br>
      <br>

      <div >
          <table id="mytable2" class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Id_Oferta</th>
                      <th scope="col">Descuento</th>
                      <th scope="col">Fecha de Inicio</th>
                       <th scope="col">Fecha Final</th>
                        <th scope="col">Tipo De Habitaciòn</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                   
                 
                  </tbody>
          </table>


      </div>
     

      <br>
     

      <div ></div>


        </section>

          <!-- Sección Temporadas -->
                  <section id="Temporadas" class="container" style="border-style: solid;margin-block: 1em; background-color: white">
           
       <p class="new2">Configuración de Temporadas</p>
        <br>
         <div class="row">
               <div class="col-sm-3 col-xs  col-xs-well">
                <label for="start" >Temporada:</label>

                    <select class="form-select" id="TIPO_TEMPORADA" aria-label="Default select example">
                          
                        <option selected disabled> Temporada</option>
                          <option value="1">Alta</option>
                          <option value="2">Baja</option>
                    </select>


                </div>
                <div class="col-sm-3 col-xs  col-xs-well">
                    <label for="start">Fecha de Inicio:</label>
                    <input type="date" id="Fecha_Inicio" min="2022-01-01" max="2022-12-31" name="trip-start">
                           </div>
                           <div class="col-sm-3 col-xs  col-xs-well">

                     <label for="start">Fecha de Fin:</label>
                     <br>

                    <input type="date" id="Fecha_Final" min="2022-01-01" max="2022-12-31" name="trip-start" >
              
                    </div>
      </div>
   
      <br>
    <div class="row">

           <div  class="col-sm-12">
     
         
             

                   <input class="btn btn-success" id="btnAceptTemporada" type="button" value="Aceptar" onclick="updateTemporada()" style="background-color: #86b4ca;">
                  <input class="btn btn-success" id="btnCancelTemporada" type="button" value="Cancelar" onclick="document.getElementById('id04').style.display='block'" style="background-color: #86b4ca;">
      </div>

    </div>
    <br>
   <div >
           <table class="table table-responsive table-striped">
                                <thead> 
                                    <tr>
                                        <th>Temporada</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Final</th>
                                   
                                </thead>
                                <tbody>

                                    <tr> 
                                        <td>
                                            @ViewBag.Tipo_temporada
                                        </td>
                                        <td>
                                            @ViewBag.fecha_inicio
    
                                        </td>
                                        <td>
                                            @ViewBag.fecha_final
       
                                        </td>  
                                    </tr>

                                    <tr> 
                                        <td>
                                            @ViewBag.tipo_temporada02
         
                                        </td>
                                        <td>
                                            @ViewBag.fecha_inicio_02 
        
                                        </td>
                                        <td>
                                            @ViewBag.fecha_final_02 
                                        </td>    
                                    </tr>

                                 
                                </tbody>
                            </table>


      </div>
     

      <br>
     
      </section>


      <!-- Editar publicidad  -->
    <section name="mantpublicidad" id="mantpublicidad" class="container" style="border-style: solid;margin-block: 1em; background-color: white">

            <p class="new2"">Mantenimiento de la publicidad: </p>
            <p>Los elementos activados, son los que se muestran en la página del cliente.</p>
            <p>Se permiten solo 4 elementos activos. </p>

            <table class="table table-hover" id="table12" >

                <thead>
                    <tr>
                        <th>
                            Publicidad
                        </th>
                        <th >
                            Estado 
                        </th>
                    </tr>
                </thead>

                <tbody class="tbody12">
                </tbody>

            </table>

            <div style="display: inline !important;" id="" class="entry-form">

                <label>Si desea activar/desactivar algún elemento, realice un intercambio: </label>

                <br/>

                <label>Activar: </label>
	            <select style="width: 100px;" id="publi_inactivos" class="sbody1">
	            </select>

                <br/>

	            <button style="width: 300px; color:white; background-color: blue !important" class="submit-btn form-control" id="buttonCambiar" onclick="return RealizarIntercambio()">↕ Intercambiar ↕</button> 
                              
                <br/>

                <label>Desactivar: </label>
	            <select style="width: 100px;" id="publi_activos" class="sbody2">
	            </select>

             </div>

    </section>

                <br/>
                <br/>

    <div>
	    <button style="color:white; background-color: red !important; height: 60px!important" class="submit-btn form-control" id="buttonLogout" onclick="return Logout()">Cerrar sesión</button> 
    </div>

</div>




     

      <!-- The Modal Messages confimation  -->
    <div id="id01" class="modal1">
        <span onclick="document.getElementById('id01').style.display='none'" class="close1" title="Close Modal">×</span>
        <form class="modal-content1" >
            <div class="container1">
                <h1>Cancelar la operacion</h1>
                <p>Estas seguro quieres cancelar la operacion?</p>
                <div class="clearfix">
                    <button type="button" onclick="cancelarupdateAboutUs()" class="cancelbtn">Aceptar</button>
                    <button type="button"  onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Cancelar</button>
                </div>
            </div>
        </form>
    </div>

    <div id="id02" class="modal1">
        <span onclick="document.getElementById('id02').style.display='none'" class="close1" title="Close Modal">×</span>
        <form class="modal-content1">
            <div class="container1">
                <h1>Cancelar la operacion</h1>
                <p>Estas seguro quieres cancelar la operacion?</p>
                <div class="clearfix">
                    <button type="button" onclick="cancelarupdateFacilities()" class="cancelbtn">Aceptar</button>
                    <button type="button" onclick="document.getElementById('id02').style.display='none'" class="deletebtn">Cancelar</button>
                </div>
            </div>
        </form>
    </div>

    <div id="id03" class="modal1">
        <span onclick="document.getElementById('id03').style.display='none'" class="close1" title="Close Modal">×</span>
        <form class="modal-content1" >
            <div class="container1">
                <h1>Cancelar la operacion</h1>
                <p>Estas seguro quieres cancelar la operacion?</p>
                <div class="clearfix">
                    <button type="button" onclick="cancelarupdateHome()" class="cancelbtn">Aceptar</button>
                    <button type="button"  onclick="document.getElementById('id03').style.display='none'" class="deletebtn">Cancelar</button>
                </div>
            </div>
      </form>
    </div>
        <div id="id04" class="modal1">
        <span onclick="document.getElementById('id04').style.display='none'" class="close1" title="Close Modal">×</span>
        <form class="modal-content1" >
            <div class="container1">
                <h1>Cancelar la operacion</h1>
                <p>Estas seguro quieres cancelar la operacion?</p>
                <div class="clearfix">
                    <button type="button" onclick="CancelTemporada()" class="cancelbtn">Aceptar</button>
                    <button type="button"  onclick="document.getElementById('id04').style.display='none'" class="deletebtn">Cancelar</button>
                </div>
            </div>
      </form>
    </div>

    <!-- The Modal Messages -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="answer"></p>
        </div>
    </div>

    <!-- The Modal Messages2 -->
    <div id="myModal2" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span onclick="document.getElementById('myModal2').style.display='none'" class="close1" title="Close Modal">×</span>
           <br>
            <p id="answer3"></p>
        </div>
    </div>


  



    <script>
        // Get the modal
        var modal = document.getElementById('id01');
        var modalF = document.getElementById('id02');
        var modalH = document.getElementById('id03');
   
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
          if (event.target == modalF) {
             modalF.style.display = "none";
          }
          if (event.target == modalH) {
             modalH.style.display = "none";
          }
        }
    </script>


    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
          window.location = "https://localhost:44343/Admin";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>

    

    
      