@model Entities.Entities.Reserva

@{
    ViewData["Title"] = "Hotel West Ocean Beach Resort";
}

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="https://i.postimg.cc/Qxvj8K4q/logo.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<div class="container">

    <!-- logo y header -->
    <div id="menuu" class="col-sm-12">
        <div class="titulo">
            <img class="izquierda" src="https://i.postimg.cc/Qxvj8K4q/logo.png">
             <p class="new"> Hotel West Ocean Beach Resort</p>
            <!-- OFERTAS EN TENDENCIA -->
            <div class="dj-banner">
                <div class="dj-bg">
                      <div id="menuu" class="col-sm-12"> 
                          <p class="new3">
                              <marquee>  
                                  <a href="#reservas" style="color:black;">Ofertas Actuales<br/>@ViewBag.top5_Ofertas </a>
                               </marquee> 
                           </p>
                     </div>
                </div>            
             </div>
        </div>
    </div>

    <div class="row">

        <!-- Menú principal y publicidad -->
        <div id="sidebar-menu" class="col-sm-2" style="width:100%" >
            <div id="header01" >

                <ul class="nav nav-pills flex-column menuVert1  ">

                    <li class="nav-item">
                        <a href="#inicio" class="page-scroll"> Inicio </a>
                    </li>

                    <li class="nav-item">
                        <a href="#facilidades" class="page-scroll"> Facilidades </a>
                    </li>

                    <li class="nav-item ">
                        <a href="#tarifas" class="page-scroll"> Tarifas </a>
                    </li>

                    <li class="nav-item">
                        <a href="#reservas" class="page-scroll">Reservar En Linea</a>
                    </li>

                    <li class="nav-item">
                        <a href="#acercade" class="page-scroll">Acerca De</a>
                    </li>

                    <li class="nav-item">
                        <a href="#comollegar" class="page-scroll">¿Cómo Llegar?</a>
                    </li>

                    <li class="nav-item">
                        <a href="#contacto" class="page-scroll">Contáctenos</a>
                    </li>

                </ul>
            </div>

            <div id="header02">

                <h4 id="tituloPublicidad">Publicidad</h4>

                <div class="row" >
                    <div class="slideshow-container"> 
                        @*elementos publicitarios actuales*@
                        <a href='@ViewBag.uri1' target="_blank">
                            <img id="publicity" class="mySlides w3-animate-top" src= '@ViewBag.public1' style="width:100%" vspace="30" hspace="10">
                        </a>
                        <a href='@ViewBag.uri2' target="_blank">
                            <img id="publicity" class="mySlides w3-animate-bottom" src= '@ViewBag.public2' style="width:100%" vspace="30" hspace="10" >
                        </a>
                        <a href='@ViewBag.uri3' target="_blank">
                            <img id="publicity" class="mySlides w3-animate-bottom" src= '@ViewBag.public3' style="width:100%" vspace="30" hspace="10">
                        </a>
                        <a href='@ViewBag.uri4' target="_blank">
                            <img id="publicity"  class="mySlides w3-animate-top" src= '@ViewBag.public4' style="width:100%" vspace="30" hspace="10">
                        </a>
                  </div>
                </div>
                <script>
                    let slideIndex = 0;
                    showSlides();

                    function showSlides() {
                      let i;
                      let slides = document.getElementsByClassName("mySlides");
                      for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  
                      }
                      slideIndex++;
                      if (slideIndex > slides.length) {slideIndex = 1}    

                      slides[slideIndex-1].style.display = "block";  
                      setTimeout(showSlides, 4000); // Change image every 2 seconds
                    }
                </script>
            </div>
        </div>


        <!-- Secciones (contenido) -->
        <div style="margin-left: auto !important;" class="col-sm-10">

            <!-- Sección Home (Inicio) -->
            <section id="inicio" class="container" style="margin-block: 1em; background-color: white">
                <div class="row">
                    <div class="col-sm-6">

                        <img src="https://costarica.org/wp-content/uploads/2017/06/Hotel-Guanamar-Beach-1.jpg"  style="width:100%" vspace="30" hspace="10" >

                    </div>
                    <div class="col-sm-6">
                        <p class="msjBienvenida">
                        <p class="new">Bienvenidos al Hotel West Ocean Beach</p>
                        <p id="parrafoHome" class="Alineacion">
                            @ViewBag.Home

                        </p>

                    </div>
                </div>
            </section>



            <!-- Sección Facilidades -->
              <section id="facilidades" class="container" style="margin-block: 1em; background-color: white">

                <div class="row" >
                    <div class="col-sm-6"> 
                            <img class="slides w3-animate-top" src="https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/10/02/100295_v4.jpeg"  style="width:100%" vspace="30"  hspace="10">
                            <img class="slides w3-animate-bottom" src="https://a-static.besthdwallpaper.com/playa-por-el-mar-en-grecia-papel-pintado-1920x1280-28278_38.jpg"  style="width:100%" vspace="30"  hspace="10" >
                            <img class="slides w3-animate-bottom" src="https://images.neobookings.com/hotels/ibiza/apartamentos-mar-y-playa/apartamentos-mar-y-playa-r56e23v6l1.jpeg" style="width:100%" vspace="30"   hspace="10">
                            <img class="slides w3-animate-top" src="https://media.staticontent.com/media/pictures/8ca1a747-aab2-42fa-a413-9a0818f5f20f"   style="width:100%" vspace="30"  hspace="10">
                            <img class="slides w3-animate-bottom" src="https://i1.wp.com/holanews.com/wp-content/uploads/e030fb02218acecca92c062116453e3d13b77133w.jpg?fit=1920%2C1280&ssl=1" style="width:100%" vspace="30"  hspace="10"> 
                  </div>
                    <div class="col-sm-6">
                           <p id="parrafoFacilidades" class="Alineacion">
                         <h2 id="contactoo" >Facilidades</h2>
                           <p id="parrafoHome" class="Alineacion"> @ViewBag.Facilidades1 <br> </p>
                           <p id="parrafoHome" class="Alineacion">- @ViewBag.Facilidades2<br> </p>
                             <p id="parrafoHome" class="Alineacion"> @ViewBag.Facilidades3 <br> </p>
                            <p id="parrafoHome" class="Alineacion">- @ViewBag.Facilidades4 <br></p>
                    </div>
                </div>
                <script>
                    // para intercambiar imagenes durante un periodo de tiempo
                    var myIndex = 0;
                    carousel();
                    function carousel() {
                        var i;
                        var x = document.getElementsByClassName("slides");
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = "none";
                        }
                        myIndex++;
                        if (myIndex > x.length) { myIndex = 1 }
                        x[myIndex - 1].style.display = "block";
                        setTimeout(carousel, 2500);
                    }
                </script>
            </section>

            <br/>

            <!-- Sección Tarifas -->
            <section id="tarifas" class="container" style="background-color:white;">

                <div class="row">
                    <h2>Tarifas(por noche)</h2>
                    <br>
                   
                    <div class="col-sm-12">
                       <div class="container">
                            <table class="table table-responsive table-striped">
                                <thead> 
                                    <tr> 
                                        <th></th> 
                                        <th>Habitación</th>
                                        <th>Tarifa Temp. Baja</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Final</th>  
                                        <th>Tarifa Temp. Alta</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Final</th>  
                                    </tr> 
                                </thead>
                                <tbody>

                                    <tr> 
                                        <td>
                                            <img class="img-fluid " src=@ViewBag.habitacionImagen1 alt="Nature" >
                                        </td>
                                        <td>@ViewBag.nombre1</td> 
                                        <td>$@ViewBag.precioBaja1</td> 
                                        <td>@ViewBag.fechaIniBaja1</td>
                                        <td>@ViewBag.fechaTermBaja1</td> 
                                        <td>$@ViewBag.precioAlta1</td>    
                                        <td>@ViewBag.fechaIniAlta1</td> 
                                        <td>@ViewBag.fechaTermAlta1</td> 
                                    </tr>

                                    <tr> 
                                        <td>
                                            <img class="img-fluid " src=@ViewBag.habitacionImagen2 alt="Nature" >
                                        </td>
                                        <td>@ViewBag.nombre2</td> 
                                        <td>$@ViewBag.precioBaja2</td> 
                                        <td>@ViewBag.fechaIniBaja2</td>
                                        <td>@ViewBag.fechaTermBaja2</td> 
                                        <td>$@ViewBag.precioAlta2</td>    
                                        <td>@ViewBag.fechaIniAlta2</td> 
                                        <td>@ViewBag.fechaTermAlta2</td>    
                                    </tr>

                                    <tr> 
                                        <td>
                                            <img class="img-fluid " src=@ViewBag.habitacionImagen3 alt="Nature" >
                                        </td>
                                        <td>@ViewBag.nombre3</td> 
                                        <td>$@ViewBag.precioBaja3</td> 
                                        <td>@ViewBag.fechaIniBaja3</td>
                                        <td>@ViewBag.fechaTermBaja3</td> 
                                        <td>$@ViewBag.precioAlta3</td>    
                                        <td>@ViewBag.fechaIniAlta3</td> 
                                        <td>@ViewBag.fechaTermAlta3</td>    
                                    </tr>
                                </tbody>
                            </table>
                       </div> 
                    </div>
                </div>
            </section>

            <br/>

            <!-- Reservas Section -->
            <section id="reservas" class="container" style="background-color:white;">
                <div style="display: block !important;" class="row">
                    <h1>Reservas</h1>
                    <br/>
                    <br/>

                     @*solicitar disponibilidad de habitaciones segun el tipo*@
                    <div id="rangoFechas" style="display: block !important; background-color:white;" class="entry-form">

                        <h4>Ver habitaciones disponibles según el tipo</h4>
 
                        <label>Fecha inicio: </label>
	                    <input id="fechaI" type="date" placeholder="dd/mm/yy">

	                    <label>Fecha final: </label>
	                    <input id="fechaF" type="date" placeholder="dd/mm/yy">
	                    <br/>

	                    <label>Tipo de Habitación: </label>

	                    <select id="tipoHabitacion">
		                    <option value="1">Junior</option>
		                    <option value="2">Estándar</option>
		                    <option value="3">Suite</option>
	                    </select>
	
	                    <br/>
	
	                    <button class="submit-btn form-control" id="button" onclick="return ObtenerHabitacionesDisponibles()">Consultar</button> 

                    </div>

                    <br/>
                    <br/>

                    @*carrito para seleccionar habitaciones a reservar*@
                    <div style="display: block !important;" id="divSelectHabitaciones" class="entry-form">
                        
                        <h3>Seleccionar habitaciones a reservar</h3>
                        <label>Seleccione una habitación: </label>
	                    <select style="width: 100px;" id="numsHabitacion" class="sbody">
	                    </select>


                         <label>Fecha inicio: </label>
	                    <input id="fechaI2" type="date">

	                    <label>Fecha final: </label>
	                    <input id="fechaF2" type="date">
	                    <br/>

                        <div style="border-style: solid">
                            <label>Habitaciones escogidas: </label>
                            <p id="habitacionesEscogidas"></p>
	                    </div>
                        <div style="display: inline !important;">
	                        <button style="background-color: blue !important;" class="submit-btn form-control" id="button" onclick="return AgregarHabitacionAlCarrito()">Agregar</button>
                            <button class="submit-btn form-control" id="button" onclick="return VerDatosCliente()">Finalizar</button>   
	                        <button style="background-color: yellow !important" class="submit-btn form-control" id="button" onclick="return ReiniciarReserva()">Reiniciar</button>     
                        </div>
                    </div>

                    <br/>
                    <br/>

                    @*formulario de datos del cliente*@
                    <div style="display: block !important; background-color: lightgray" id="datosCliente" class="entry-form">
                        
                        <h3>Finalizar reservación</h3>

	                    <input type="text" name="cedula" id="cedula" class="form-control" placeholder="Cédula" required autocomplete="off">

	                    <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre" required>
	
	                    <input type="text" name="PrimerApellido" id="PrimerApellido" class="form-control" placeholder="Primer Apellido" required>
	
	                    <input type="text" name="SegundoApellido" id="SegundoApellido" class="form-control" placeholder="Segundo Apellido" required>

	                    <input type="email" name="correo" id="correo" class="form-control" placeholder="Correo electrónico" required>

	                    <input type="text" name="Telefono" id="Telefono" class="form-control" placeholder="Teléfono" required>

	                    <input type="number" name="edad" id="edad" class="form-control" placeholder="Edad" required>

	                    <input type="text" name="Direccion" id="Direccion" class="form-control" placeholder="Dirección" required>
	
	                    <input type="text" name="Nacionalidad" id="Nacionalidad" class="form-control" placeholder="Nacionalidad" required>	
	
	                    <label>Fecha de nacimiento:</label>
	                    <input id="fechaNacimiento" class="form-control" type="date">
	
                        <br/>

	                    <div style="display: block !important;"> 
		                    <label>Datos de pago:</label>
		                    <input name="precio" id="precio" class="form-control" placeholder="Precio Total: $000" readonly required>
		
		                    <input type="number" name="numeroTarjeta" id="numeroTarjeta" class="form-control" placeholder="Número de tarjeta" required>
		
		                    <img src="https://i.postimg.cc/Gpr1Rtth/Captura.png" alt="security" width="200" height="100">
	                    </div>
	
	                    <button class="submit-btn form-control" id="button" onclick="return SolicitarReservacion()">Reservar</button>
                        <button style="background-color: yellow !important;" class="submit-btn form-control" id="button" onclick="return ReiniciarReserva()">Reiniciar</button>   

                    </div>

                </div>
            </section>

            <br/>

            <!-- Sección Acerca de. -->
            <section id="acercade" style="background-color:white;">

                <h2 class="new">Acerca de</h2>
                <p id="parrafoHome" class="Alineacion" >
                    @ViewBag.CercaDe
                </p>

                <!-- galeria -->
                <h4 id="galeria1">Galería</h4>

                <div class='parent'>
                    <div class='child'>
                        <div class="espacio">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                                </ol>

                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen1.jpg" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen2.jpg" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen3.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen4.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen5.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen6.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen7.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen8.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen9.jpg" alt="Third slide">
                                    </div>
                                </div>

                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>

                            </div>
                        </div>
                    </div>

                    <div id="childLeft" class='child'>
                        <!-- Photo Grid -->
                        <div class="column">
                            <img src="imagenes/imagen1.jpg" style="width:120px; height:120px;">
                            <img src="imagenes/imagen2.jpg" style="width:120px; height:120px;">
                            <img src="imagenes/imagen3.jpg" style="width:120px; height:120px;">
                        </div>

                        <div class="column">
                            <img src="imagenes/imagen4.jpg" style="width:120px; height:120px;">
                            <img src="imagenes/imagen5.jpg" style="width:120px; height:120px;">
                            <img src="imagenes/imagen6.jpg" style="width:120px; height:120px;">
                        </div>

                        <div class="column">
                            <img src="imagenes/imagen7.jpg" style="width:120px; height:120px;">
                            <img src="imagenes/imagen8.jpg" style="width:120px; height:120px;">
                            <img src="imagenes/imagen9.jpg" style="width:120px; height:120px;">
                        </div>
                    </div>
                </div>
            </section>


            <!-- cómo llegar Section -->
            <section id="comollegar" class="container"  style="background-color:white;">
                <div class="row">
                    <h2 id="contactoo"> Cómo llegar</h2>

                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-12" >
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe width="500" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=playa%20fantasia%20costa%20rica&t=k&z=7&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        text-align: center;
                                        height: 100%;
                                        width: 100%;
                                    }
                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                       height: 100%;
                                        width: 100%;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <!-- contacto Section -->
            <section id="contacto" class="container" style="margin-block: 1em; background-color: white;  text-align: left;">

                <h2 id="contactoo" >Contacto</h2>
                
                <div class="row">
              
                    <div class="col-sm-6">

                        <div id="ubicacionTextoContact">

                        </div>
                    </div>

                    <div class="col-sm-6">

                        <img src="~/imagenes/contacto.png" style="width:150px; height:120px;">
                        <p style="width:100%;">
                         Si en algún momento tiene alguna sugerencia sobre cómo mejorar nuestro servicio, háganoslo saber. Si tiene algún problema durante su estadía con nosotros, comuníquese de inmediato al teléfono 2298-1700 ext: 42 para que tengamos la oportunidad de corregir la situación.
                        </p>
                        <br>
                    </div>

                </div>
            </section>

            <section id="loginadmin" style="background-color:lightgray;">
  
                <p style="text-align: center !important;">
                   Ir al <a  asp-controller="Admin" asp-action="Index" >Login administrativo</a>
                   @*redireccionar a vista Admin*@
                </p>
            
            </section>

        </div>
    </div>    
</div>
